*{
    margin: 0;
    padding: 0;

}




.flexcontainer{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-left: 85px;

}




.left{
  display: flex;
  align-items: left;
  height: 50px;
}





.icons{
    display: flex;
    align-items: center;
}

.search{
    border-radius: 30px;
    height: 50px;
    width: 100%;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
    padding: 0px 16px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 1px solid rgb(162, 160, 160);
    outline: none;
    font-size: 15px;
}

.search::placeholder{
    text-transform: capitalize;
    font-weight: 400;
    color: gray;
    text-transform: capitalize;
    font-size: 18px;
}

.icon1{
    fill: rgb(70, 70, 70);
    border: 1px solid rgb(232, 229, 229);
    padding: 0px 16px 00px;
    background: rgb(189, 183, 183);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 50px;
    height: 50px;
    margin-left: -5px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 20px;
}

.icon2{
    fill:rgb(56, 54, 54);
    background: rgb(189, 183, 183);
    width: 80px;
    height: 50px;
    border-radius: 50%;
}






.right{
    display: flex;
    align-items: right;
    justify-content: space-evenly;
    width: 260px;
}

.right1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 130px;
    height: 50px;
    border-radius: 50px;   
}

.word{
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 200;
}


.img2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


@media(max-width:425px) {
    .search, .icon2{
        display: none;
    }

    .icon1{
        background-color: transparent;
        padding: 0;
        border: none;
    }

    .bell{
        display: none;
    }

    .right1{
        font-size: 14px;
        font-weight: 600;
        padding: 5px 12px;
    }
}


.left-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-top: -55px;
    color: black;
    text-transform: capitalize;
    width: 85px;
    position: fixed;
}

.text{
    padding-bottom: 30px;
    padding-top: 10px;
}

.icon3{ 
    font-size: 40px;
    padding-bottom: 30px;
}






.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
}

.video-container{
    margin-top: 50px;
    margin-left: 100px;
}

.video_img{
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
  transition: 0.15s;
  display: block;
  margin-bottom: 20px;  
}

.video_img:hover{
    border-radius: 0px;
}

.author_img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.div{
    display: inline-block;
}


.video{
    margin-right: 0px ;
    display: inline;
    position: relative;
}

.timer{
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 10px;
    position: absolute;
    margin-top: 240px;
    margin-left: 350px;
    
}

.videotitle{
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    width: 300px;
    cursor: pointer;
}


.authorname{
    text-transform: capitalize;
    color: #606060;
    cursor: pointer;
    font-size: 14px;
}

.authorname:hover{
    color:#484747 ;
}

.authorname span{
    text-transform: uppercase;
}

.check{
    padding: 0px 2.5px;
    padding: 5px;
    border-radius: 50%;
    font-size: 11px;
    text-align: center;
    background-color: rgb(94, 92, 92);
    color: white;
}


.statusvideo{
    color: #606060;
    cursor: pointer;
    font-weight: 0px;
    padding-top: 1px;
    margin-top: -8px;
}

.statusvideo span{
    font-size: 30px;
    vertical-align: middle;
}

@media(max-width:768) {
    .grid-container{
        grid-template-columns: repeat(2,1fr);
        padding: 0px 8px;
    }
}

@media(max-width:425px) {
    .grid-container{
        grid-template-columns: 1fr;
    }
}